/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa url("./images/background2.jpeg") no-repeat center/cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  margin: 0;
  padding: 20px;
}

.main-container {
  background: #ffffffcc;  /* White background with slight transparency */
  backdrop-filter: blur(4px); /* Optional glassmorphism effect */
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
  text-align: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
